
<script type="text/javascript">
    var authentificated = localStorage['authentificated'];

    if ((authentificated === undefined) || (authentificated === "false"))  {
        document.location.href = "#/login"
    }
</script>

<div class="button-wrapper">
    <a href="#/parcours/add" class="a-btn">
    <span class="a-btn-text">+</span>
    <span class="a-btn-slide-text">Ajouter un parcours</span>
    </a>
</div>


<header class="codrops-header">
  <h1>Parcours</h1>
  <!--<h2>Status : {{status}}</h2>-->
</header>
